---
layout: default
header_slogan_class: white
header_image_style: "background-image: url('/assets/matkaenduro-laavu.jpg')"
---

<script type="text/javascript">
//<![CDATA[

$(document).ready(function() {
  $('.post-item').click(function() {
    var url = $(this).find("a").attr("href");
    location = url;
  });
});

//]]>
</script>

<div class="home">

  <ul class="post-list">
    {% for post in site.posts reversed %}
      {% if post.draft == true %}
        {% continue %}
      {% endif %}

      <li class="post-item">
	<img title="{{ post.title }}" src="{{ post.post_image }}" />
	<div class="post-meta">{{ post.date | date: '%d.%m.%Y' }}</div>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
	<p>{{ post.excerpt }}</p>
	<p><a href="{{ post.url | prepend: site.baseurl }}">Lue lisää</a></p>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">Tilaa <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>

</div>
