<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Ota yhteyttä!</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>{% include svg-icons.html %}</li>
	  <li><h3><a href="/tietosuoja">Tietosuoja</a></h3></li>
	  <li><h3>Yhteistyössä</h3></li>
	  <li>
	    <a href="https://marine.fi" onclick="trackOutboundLink('https://marine.fi'); return false;">
	      <img src="/assets/logo.png" />
	    </a>
	  </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
        </ul>
      </div>

      <div class="footer-col footer-col-3">


	<!-- Begin MailChimp Signup Form -->
	<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
	<style type="text/css">
	  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
	</style>
	<div id="mc_embed_signup">
	  <form action="//gmail.us13.list-manage.com/subscribe/post?u=218939c24f61ee78e46577f37&amp;id=a6fd1adc1c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	    <div id="mc_embed_signup_scroll">
	      <h2>Tilaa ilmoitus uusista blogi-kirjoituksista</h2>
	      <div class="mc-field-group">
		<label for="mce-EMAIL">Sähköpostiosoite </label>
		<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
	      </div>
	      <div class="mc-field-group">
		<label for="mce-MMERGE4">Asuinmaakunta </label>
		<select name="MMERGE4" class="required" id="mce-MMERGE4">
		  <option value=""></option>
		  <option value="Ahvenanmaa">Ahvenanmaa</option>
		  <option value="Etelä-Karjala">Etelä-Karjala</option>
		  <option value="Etelä-Pohjanmaa">Etelä-Pohjanmaa</option>
		  <option value="Etelä-Savo">Etelä-Savo</option>
		  <option value="Kainuu">Kainuu</option>
		  <option value="Kanta-Häme">Kanta-Häme</option>
		  <option value="Keski-Pohjanmaa">Keski-Pohjanmaa</option>
		  <option value="Keski-Suomi">Keski-Suomi</option>
		  <option value="Kymenlaakso">Kymenlaakso</option>
		  <option value="Lappi">Lappi</option>
		  <option value="Pirkanmaa">Pirkanmaa</option>
		  <option value="Pohjanmaa">Pohjanmaa</option>
		  <option value="Pohjois-Karjala">Pohjois-Karjala</option>
		  <option value="Pohjois-Pohjanmaa">Pohjois-Pohjanmaa</option>
		  <option value="Pohjois-Savo">Pohjois-Savo</option>
		  <option value="Päijät-Häme">Päijät-Häme</option>
		  <option value="Satakunta">Satakunta</option>
		  <option value="Uusimaa">Uusimaa</option>
		  <option value="Varsinais-Suomi">Varsinais-Suomi</option>

		</select>
	      </div>
	      <div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_218939c24f61ee78e46577f37_a6fd1adc1c" tabindex="-1" value=""></div>
	      <div class="clear"><input type="submit" value="Tilaa" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
	    </div>
	  </form>
	</div>
	<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[4]='MMERGE4';ftypes[4]='dropdown'; /*
	  * Translated default messages for the $ validation plugin.
	  * Locale: FI
	  */
	  $.extend($.validator.messages, {
	  required: "T&auml;m&auml; kentt&auml; on pakollinen.",
	  maxlength: $.validator.format("Voit sy&ouml;tt&auml;&auml; enint&auml;&auml;n {0} merkki&auml;."),
	  minlength: $.validator.format("V&auml;hint&auml;&auml;n {0} merkki&auml;."),
	  rangelength: $.validator.format("Sy&ouml;t&auml; v&auml;hint&auml;&auml;n {0} ja enint&auml;&auml;n {1} merkki&auml;."),
	  email: "Sy&ouml;t&auml; oikea s&auml;hk&ouml;postiosoite.",
	  url: "Sy&ouml;t&auml; oikea URL osoite.",
	  date: "Sy&ouml;t&auml; oike p&auml;iv&auml;m&auml;&auml;r&auml;.",
	  dateISO: "Sy&ouml;t&auml; oike p&auml;iv&auml;m&auml;&auml;r&auml; (VVVV-MM-DD).",
	  number: "Sy&ouml;t&auml; numero.",
	  digits: "Sy&ouml;t&auml; pelk&auml;st&auml;&auml;n numeroita.",
	  equalTo: "Sy&ouml;t&auml; sama arvo uudestaan.",
	  range: $.validator.format("Sy&ouml;t&auml; arvo {0} ja {1} v&auml;lilt&auml;."),
	  max: $.validator.format("Sy&ouml;t&auml; arvo joka on yht&auml; suuri tai suurempi kuin {0}."),
	  min: $.validator.format("Sy&ouml;t&auml; arvo joka on pienempi tai yht&auml; suuri kuin {0}."),
	  creditcard: "Sy&ouml;t&auml; voimassa oleva luottokorttinumero."
	  });}(jQuery));var $mcj = jQuery.noConflict(true);</script>
	<!--End mc_embed_signup-->
      </div>
    </div>

  </div>

</footer>
