<header class="site-header" style="{{page.header_image_style}}">

  <div class="nav navStart">
    <div class="wrapper">
	 <h3 class="left">
	   <a href="/">Etusivu</a>
	   <a href="/ohjeet" style="padding-left: 1em;">Ohjeita</a>
	 </h3>
	 <h3 class="right">
	   <a href="/about">Tietoja kirjoittajasta</a>
	 </h3>
    </div>
  </div>

  <div class="wrapper">

    <div class="image-text">
      <h1 class="{{page.header_slogan_class}}">"Kun tie huononee,<br/>&nbsp&nbsp&nbsp niin mieli paranee"</h1>
    </div>
  </div>

</header>
